// ------------------------ pages taxonomy --------------------------- //
// --------------------------------------------------- //

article[about="/404"]{
	position: relative;
	
	@media (min-width: $breakpoint_1){
		left: calc(0% + 8rem);
	}
	
	.content{
		
		.error-404{
			@include display-grid;
			@include grid-parent-2-columns (1fr, 1fr);
			@include grid-parent-2-rows (1fr, auto);
			grid-gap: 1rem;
			
			@media (max-width: $breakpoint_2){
				@include grid-parent-1-columns (1fr);
				@include grid-parent-3-rows (1fr, auto, auto);
			}
			
			> div{
				
				&:nth-child(1){
				    @include grid-child-column (1, 2);
				    @include grid-child-row (1, 1);
				    place-self: center;
				    
				    span{
						line-height: 20rem;
						font-size: 20rem;
						font-family: 'avenir-roman';
						color: $color-rojo-rad;
				    }
				    
				}
				
				&:nth-child(2){
					@include grid-child-column (2, 3);
					@include grid-child-row (1, 1);
					place-self: end;
					
					@media (max-width: $breakpoint_2){
					    @include grid-child-column (1, 2);
						@include grid-child-row (2, 2);
						place-self: center;
				    }
					
					h1{
						font-family: 'avenir-roman';
						font-size: 3rem;
						line-height: 3rem;
					}
					
					h3{
						font-family: 'avenir-book';
					}
					
				}
				
			}
			
			h5{
				@include grid-child-column (1, 3);
				@include grid-child-row (2, 2);
				
				@media (max-width: $breakpoint_2){
					@include grid-child-column (1, 2);
					@include grid-child-row (3, 3);
				}
				
			}
			
		}
		
	}
	
}