// ------------------------ banner pages --------------------------- //
// --------------------------------------------------- //

.page-node-type-asi-lo-vivimos{
	
	.region-featured-top{
	
		.views-row{
			position: relative;
			
			.views-field-field-imagenes-de-asi-lo-vivimos{
				
				.field-content{
					
					@include display-grid;
					@include grid-parent-5-columns (10%, 1fr, 1fr, 10%, 1fr);
					@include grid-parent-3-rows (97px, 97px, 97px);
					justify-items: stretch;
					align-items: stretch;
					
					@media (max-width: $breakpoint_1){
						@include grid-parent-3-rows (78px, 78px, 78px);
					}
					
					@media (max-width: $breakpoint_2){
						@include grid-parent-3-rows (60px, 60px, 60px);
					}
					
					@media (max-width: $breakpoint_3){
						@include grid-parent-3-rows (60px, 60px, 60px);
						@include grid-parent-1-rows (1fr);
					}
					
					@media (max-width: $breakpoint_4){
						@include grid-parent-2-columns (1fr, 1fr);
						// ---
						// --- support microsoft edge, IE ---
						@include reset-display (block, block);
					}
					
					
					a{
						
						&:after{
							display: none;
						}
						
						img{
							
							&:hover{
								transform: scale(0.9);
							}
						
						}
						
						&:nth-child(1){
							@include grid-child-column (1, 1);
							@include grid-child-row (1, 1);
						}
						
						&:nth-child(2){
							@include grid-child-column (1, 1);
							@include grid-child-row (2, 2);
						}
						
						&:nth-child(3){
							@include grid-child-column (1, 1);
							@include grid-child-row (3, 4);
						}
						
						&:nth-child(4){
							@include grid-child-column (2, 2);
							@include grid-child-row (1, 4);
						}
						
						&:nth-child(5){
							@include grid-child-column (3, 3);
							@include grid-child-row (1, 4);
						}
						
						&:nth-child(6){
							@include grid-child-column (4, 4);
							@include grid-child-row (1, 1);
						}
						
						&:nth-child(7){
							@include grid-child-column (4, 4);
							@include grid-child-row (2, 2);
						}
						
						&:nth-child(8){
							@include grid-child-column (4, 4);
							@include grid-child-row (3, 4);
						}
						
						&:nth-child(9){
							@include grid-child-column (5, 5);
							@include grid-child-row (1, 4);
						}
						
						&:nth-child(n+1){
							
							@media (max-width: $breakpoint_4){
								@include grid-child-column (auto, auto);
								@include grid-child-row (auto, auto);
								
								// ---
								// --- support microsoft edge ---
								@supports (-ms-ime-align: auto) {
									@include galeria-asi-lo-vivimos;								
								}
								
								// ---
								// --- support internet explorer ---
								@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
									@include galeria-asi-lo-vivimos;		
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
			.views-field-field-catego{
				position: absolute;
				right: 0;
				top: 2rem;
				display: table;
				padding: 0.5rem 1rem;
				color: $color-30;
				background: $color-blanco-rad;
				@include font-link-text;
			}
			
		}
		
	}
	
}