// ------------------------ more interests --------------------------- //
// --------------------------------------------------- //

#second.row{
	background: $color-background;
	padding:  0;
    box-sizing: border-box;
    //@include display-grid;
    display: block;
    
    &::before,
	&::after {
	    content: "";
	    background: $color-background;
	    display: block;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 100%;
	}
	&::after {
	    left: auto;
	    right: 100%;
	}
	
	.col-sm-12{
		max-width: initial;
	}
	
	.region{
		padding: 3rem 0 0;
	}
	
	//
	// header box
	//
	.view-header{
		margin-bottom: 2rem;
		max-width: initial;
		
		@include font-title-section ();
		
		a{
			text-align: right;
			font-size: 13px;
			line-height: 16px;
			text-transform: initial;
			letter-spacing: 0.5px;
			float: right;
			position: relative;
			overflow: visible;
			text-decoration: none;
			
			&:before{
				@include right-arrow;
			    right: -0.4rem;
			    top: 0.2rem;
			}
			
			&:after{
				opacity: 1;
				width: 0%;
				left: -80%;
			}
			
			&:hover{
				
				&:after{
					
					opacity: 1;
					width: 10%;
					left: 108%;
					
				}
				
			}
			
			@media (max-width: $breakpoint_4){
				float: none;
				text-align: left;
				margin-top: 1rem;
			}
			
		}
		
	}
	
	//
	// content box
	//
	.view-content{
		
		.views-row{
			padding: 1.5rem;
			background: $color-blanco-rad;
			position: relative;
			display: inline-table;
			margin-bottom: 1rem;
			width: calc(25% - 15px);
				
			@media (max-width: $breakpoint_3){
				width: calc(50% - 15px);
			}
			
			@media (max-width: $breakpoint_4){
				width: 100%;
			}
			
			@include cards;
			
			.views-field-field-imagen-principal-del-event,
			.views-field-field-imagenes-de-asi-lo-vivimos{
				.field-content{
					height: initial !important;
				}
			}
			
			.views-field-field-catego{
				margin-top: 1rem;
			}
			
		}	
		
	}
	
	
	//
	// Block withouth iamges
	//
	.bloque-contenido-relacionado-all{
		
		.views-row{
			border-right: 1px solid $color-grey-borders;
			
			&:last-child{
				border-right: 0;
			}
			
			@media (max-width: $breakpoint_3){
				
				&:nth-child(even){
					border-right: 0;
				}
				
			}
			
			@media (max-width: $breakpoint_4){
				
				border-right: 0;
				
			}
			
			.views-field-field-catego{
				margin: 0rem 0 1rem;
				
				.field--name-field-punto-imagen{
					position: relative;
					top: 0.1rem;
					left: initial;
					display: inline-block;
				}
				
				.field--name-name-text{
					margin-top: 0;
				}
				
			}
			
		}
		
	}
	
}