// ------------------------ pages views --------------------------- //
// --------------------------------------------------- //

.row{
	
	.form-group{
		
		.view-header{
			max-width: 800px;
			margin-bottom: 2rem;
			
		}
		
		.view-filters{
			
			label{
				display: block;
				margin-bottom: .5rem;
			}
			
			.js{
				display: block;
			}
			
		}
		
	}
	
}