// ------------------------ footer --------------------------- //
// --------------------------------------------------- //

footer.footer{
	
	margin: 0 auto;
	border: 0px;
	padding: 0 1rem;
	
	img{
		
		&:hover{
			transform: initial;
		}
		
	}
	
	//
	// top section - logos
	// 
	.site-footer__top{
		background: $color-rojo-rad;
		padding: 2rem 0;
		position: relative;
		@include display-grid;
		@include grid-parent-3-columns (10%, 1fr, 10%);
		@include grid-parent-1-rows (auto);
		grid-gap: 1rem;
		&::before,
		&::after {
		    content: "";
		    background: $color-rojo-rad;
		    display: block;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 100%;
		    
		}
		&::after {
		    left: auto;
		    right: 100%;
		    
		}
		
		@media (max-width: $breakpoint_3){
			@include grid-parent-1-columns (1fr);
			@include grid-parent-1-rows (auto);
			grid-gap: 1rem;
		}
		
		.region-footer-fourth{
			//grid-area: middle;
			@include display-grid;
			@include grid-parent-1-columns (1fr);
			@include grid-parent-1-rows (auto);
			@include grid-child-column (2, 2);
			grid-gap: 1rem;
			
			@media (max-width: $breakpoint_3){
				@include grid-child-column (1, 2);
				justify-items: center;
			}
			    
			.footer-red{
				//@include grid-child-row (1, 1);
				@include display-grid;
				justify-content: center;
				
				p{
					color: $color-blanco-rad;	
				}
				
			}
			    
			//
			// social media
			.footer-redes{
				grid-gap: 1rem;
			    @include display-grid;
			    @include grid-parent-4-columns (1fr, 1fr, 1fr, 1fr);
			    @include grid-parent-1-rows (auto);
			    @include grid-child-row (2, 2);
			    
			    @media (max-width: $breakpoint_3){
				    @include grid-parent-1-columns (1fr);
				}
			    
			    .field--name-body{
				    @include grid-child-column (3, 3);
				    
				    @media (max-width: $breakpoint_3){
					    @include grid-child-column (1, 1);
					}
				
			    }
				
				p{
					color: $color-blanco-rad;	
					font-size: 11px;
					display: flex;
					text-align: center;
					
					// ---
					// --- support microsoft edge, IE ---
					@include reset-display (block, block);
					
					a{
						display: inline-block;
					}
					
				}
				
			}
			
			//
			// social media
			.footer-afiliada-a{
				@include grid-child-row (3, 3);
				
				p{
					color: $color-blanco-rad;	
					font-size: 13px;
				}
				
				//
				// title
				.field--name-body{
					margin-bottom: 1rem;
					@include grid-child-row (1, 1);
				}
				
				//
				// image
				.field--name-field-imagen{
					@include grid-child-row (2, 2);
					@include display-grid;
					@include grid-parent-4-columns (1fr, 1fr, 1fr, 1fr);
					@include grid-parent-1-rows (auto);
					grid-gap: 1rem;
					
					@media (max-width: $breakpoint_3){
						@include grid-parent-1-columns (1fr);
					}
					    
					.field--item{
					    justify-self: center;
					    
					    &:nth-child(1){
						    @include grid-child-column(1, 2);
							@include grid-child-row (auto, auto);
							
					    }
					    
					    &:nth-child(2){
						    @include grid-child-column(2, 3);
							@include grid-child-row (auto, auto);
							
							//@media (max-width: $breakpoint_3){
							//	@include grid-child-column(1, 2);
							//	@include grid-child-row (2, 2);
							//}
							
					    }
					    
					    &:nth-child(3){
						    @include grid-child-column(3, 4);
							@include grid-child-row (auto, auto);
							
							@media (max-width: $breakpoint_3){
							  @include grid-child-column(1, 2);
							  @include grid-child-row (auto, auto);
							}
							
					    }
					    
					    &:nth-child(4){
						    @include grid-child-column(4, 5);
							@include grid-child-row (auto, auto);
							
							@media (max-width: $breakpoint_3){
							  @include grid-child-column(2, 3);
							  @include grid-child-row (auto, auto);
							}
							
					    }
					    
					}
					    
				}
				
			}
			
		}
		
	}
	
	//
	// bottom section - logos
	// 
	.site-footer__bottom{
		background: $color-blanco-rad;
		padding: 1rem 0;
		position: relative;
		@include display-grid;
		justify-content: center;
		&::before,
		&::after {
		    content: "";
		    background: $color-blanco-rad;
		    display: block;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 100%;
		    
		}
		&::after {
		    left: auto;
		    right: 100%;
		    
		}
		
		p{
			text-align: center;
			font-size: 13px;
			
			a{
				text-decoration: none;
			}
			
		}
		
	}
	
}