// ------------------------ menu etiquetas --------------------------- //
// --------------------------------------------------- //

.menu-etiquetas,
.menu-categorias{
	
	margin-top: 1rem;
	
	@media (max-width: $breakpoint_3){
		position: relative;
		&:after{
				@include right-arrow;
			    right: -14px;
			    top: 0.9rem;
			}
			
			&:before{
				@include left-arrow;
				left: -14px;
				top: 0.9rem;
			}
		
	}
	
	
	ul{
		
		@media (max-width: $breakpoint_3){
			white-space: nowrap; 
			overflow-x: auto; 
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar; 
			position: relative;
			
			/*&:after{
				@include right-arrow;
			    right: 4px;
			    top: 0.9rem;
			}
			
			&:before{
				@include left-arrow;
				left: 4px;
				top: 0.9rem;
			}*/
			
			&::-webkit-scrollbar{
				display: none;
			}
				
		}
		
		li{
			margin-bottom: .1rem;
			
			&:first-child{
				
				@media (max-width: $breakpoint_3){
					position: relative;
					padding: 10px 15px;
					vertical-align: top;
					margin: 2px 0 0;
				}
				
			}
			
			@media (max-width: $breakpoint_3){
				display: inline-block;
			}
			
			a{
				display: inline-block;
				color: $color-30;
				background: $color-blanco-rad;
				@include font-link-text;
				
				&:hover{
					background: $color-rojo-rad;
					color: $color-blanco-rad;
				}
				
			}
			
		}
		
		li.active{
			
			a{
				color: $color-blanco-rad;
				background: $color-rojo-rad;
				
				&:hover{
					background: $color-blanco-rad;
					color: $color-rojo-rad;
				}
				
			}
			
		}
		
	}
	
}