// ------------------------ header --------------------------- //
// --------------------------------------------------- //

section{
		
	.region-top-header{
		display: inline-block;
	    float: right;
	    z-index: 101;
		position: absolute;
		right: 0;
		
		@media (max-width: $breakpoint_2){
			position: relative;
		}
		
		@media (max-width: $breakpoint_3){
			position: absolute;
			top: 0.7rem;
		}
		
		ul{
		
			li{
				display: inline-block;
				
				a{
					@include font-link-text;
					font-family: avenir-medium;
					font-size: 11px;
					position: relative;
					padding-left: 2rem;
					
					&:after{
						opacity: 1;
					}
					
					&:hover{
						background: none;
					}
				}
				
				&:first-child{
					
					@media (max-width: $breakpoint_3){
						display: none;
					}
					
					a{
						color: $color-azul-rad;
						border-right: 1px solid $color-grey;
						//margin-right: 1rem;
						
						&:before{
							position: absolute;
							content: "";
							background: url("../images/svg/oferta.svg");
							background-repeat: no-repeat;
							width: 14px;
							height: 14px;
							left: 6%;
						}
						
					}
					
				}
				
				&:nth-child(2){
					
					@media (max-width: $breakpoint_3){
						display: none;
					}
					
					a{
						
						&:before{
							position: absolute;
							content: "";
							background: url("../images/svg/parte.svg");
							background-repeat: no-repeat;
							width: 14px;
							height: 14px;
							left: 6%;
						}
					}
					
				}
				
				&:last-child{
					
					a{
						color: $color-blanco-rad;
						background: $color-rojo-rad;
						padding-left: 1rem;
						
						//@media (min-width: $breakpoint_3){
						//	text-decoration: n;
						//}
						
						@media (max-width: $breakpoint_3){
							text-decoration: underline;
							
							&:hover{
								text-decoration: none;
							}
							
						}
						
					}
					
				}
				
				
			}
			
		}
		
	}
	
}