// ------------------------ alerts --------------------------- //
// --------------------------------------------------- //

.alert{
	border-radius: 0px;
}

.alert-danger{
	color: $color-rojo-rad;
	background-color: $color-blanco-rad;
	border-color: $color-rojo-rad;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{
	color: $color-rojo-rad;
}