// calculos bootstrap
$breakpoint_1: 1199px;
$breakpoint_2: 991px;
$breakpoint_3: 768px;
$breakpoint_4: 500px;

/*
    Colors:
*/

/* Brand */
$color-azul-rad: #2f3786;
$color-rojo-rad: #cc3454;
$color-amarillo-rad: #f2cd30;
$color-blanco-rad: #ffffff;

/* Grey */
$color-background: #f7f7f7;
$color-grey: #d8d8d8;
$color-30: #4d4d4d;
$color-50: #808080;
$color-90: #e6e6e6;
$color-100: #333333;
$color-grey-borders: #E9E9E9;
$color-grey-button: #CCCCCC;

/*
    Font Styles:
*/

/* Title font style */
$font-title-font-size: 40px;
$font-title-line-height: 40px;
$font-title-text-align: left;
$font-title-text-transform: uppercase;
$font-title-font-style: italic;
//$font-title-font-weight: 800;
$font-title-font-family: avenir-black;
$font-title-color: #222222;

@mixin font-title () {
  font-size: $font-title-font-size;
  line-height: $font-title-line-height;
  text-align: $font-title-text-align;
  text-transform: $font-title-text-transform;
  font-style: $font-title-font-style;
//  font-weight: $font-title-font-weight;
  font-family: $font-title-font-family;
  color: $font-title-color;
}

/* quotes font style */
$font-quote-font-size: 26px;
$font-quote-line-height: 30px;
$font-quote-text-align: left;
$font-quote-text-transform: uppercase;
$font-quote-font-style: italic;
//$font-quote-font-weight: 800;
$font-quote-font-family: avenir-black;

@mixin font-quote () {
  font-size: $font-quote-font-size;
  line-height: $font-quote-line-height;
  text-align: $font-quote-text-align;
  text-transform: $font-quote-text-transform;
  font-style: $font-quote-font-style;
//  font-weight: $font-quote-font-weight;
  font-family: $font-quote-font-family;
}

/* body h1 font style */
$font-body-h-1-font-size: 22px;
$font-body-h-1-line-height: 26px;
$font-body-h-1-text-align: left;
$font-body-h-1-color: #333333;
$font-body-h-1-text-transform: uppercase;
$font-body-h-1-font-style: italic;
//$font-body-h-1-font-weight: 800;
$font-body-h-1-font-family: avenir-black;

@mixin font-body-h-1 () {
  font-size: $font-body-h-1-font-size;
  line-height: $font-body-h-1-line-height;
  text-align: $font-body-h-1-text-align;
  color: $font-body-h-1-color;
  text-transform: $font-body-h-1-text-transform;
  font-style: $font-body-h-1-font-style;
//  font-weight: $font-body-h-1-font-weight;
  font-family: $font-body-h-1-font-family;
}

/* body destacado font style */
$font-body-destacado-font-size: 22px;
$font-body-destacado-line-height: 26px;
$font-body-destacado-text-align: left;
$font-body-destacado-color: #4d4d4d;
$font-body-destacado-font-style: normal;
//$font-body-destacado-font-weight: 400;
$font-body-destacado-font-family: avenir-roman;

@mixin font-body-destacado () {
  font-size: $font-body-destacado-font-size;
  line-height: $font-body-destacado-line-height;
  text-align: $font-body-destacado-text-align;
  color: $font-body-destacado-color;
  font-style: $font-body-destacado-font-style;
//  font-weight: $font-body-destacado-font-weight;
  font-family: $font-body-destacado-font-family;
}

/* block title m font style */
$font-block-title-m-font-size: 19px;
$font-block-title-m-line-height: 23px;
$font-block-title-m-text-align: left;
$font-block-title-m-color: #808080;
$font-block-title-m-font-style: normal;
//$font-block-title-m-font-weight: 400;
$font-block-title-m-font-family: avenir-book;

@mixin font-block-title-m () {
  font-size: $font-block-title-m-font-size;
  line-height: $font-block-title-m-line-height;
  text-align: $font-block-title-m-text-align;
  color: $font-block-title-m-color;
  font-style: $font-block-title-m-font-style;
//  font-weight: $font-block-title-m-font-weight;
  font-family: $font-block-title-m-font-family;
}

/* body texto corrido font style */
$font-body-texto-corrido-font-size: 16px;
$font-body-texto-corrido-line-height: 20px;
$font-body-texto-corrido-text-align: left;
$font-body-texto-corrido-color: #4d4d4d;
$font-body-texto-corrido-font-style: normal;
//$font-body-texto-corrido-font-weight: 400;
$font-body-texto-corrido-font-family: avenir-book;

@mixin font-body-texto-corrido () {
  font-size: $font-body-texto-corrido-font-size;
  line-height: $font-body-texto-corrido-line-height;
  text-align: $font-body-texto-corrido-text-align;
  color: $font-body-texto-corrido-color;
  font-style: $font-body-texto-corrido-font-style;
//  font-weight: $font-body-texto-corrido-font-weight;
  font-family: $font-body-texto-corrido-font-family;
}

/* Block complementario m font style */
$font-block-complementario-m-font-size: 16px;
$font-block-complementario-m-line-height: 22px;
$font-block-complementario-m-text-align: left;
$font-block-complementario-m-color: #4d4d4d;
$font-block-complementario-m-text-transform: uppercase;
$font-block-complementario-m-font-style: normal;
//$font-block-complementario-m-font-weight: 400;
$font-block-complementario-m-font-family: avenir-roman;

@mixin font-block-complementario-m () {
  font-size: $font-block-complementario-m-font-size;
  line-height: $font-block-complementario-m-line-height;
  text-align: $font-block-complementario-m-text-align;
  color: $font-block-complementario-m-color;
  text-transform: $font-block-complementario-m-text-transform;
  font-style: $font-block-complementario-m-font-style;
  //font-weight: $font-block-complementario-m-font-weight;
  font-family: $font-block-complementario-m-font-family;
}

/* Block complementario s font style */
$font-block-complementario-s-font-size: 13px;
$font-block-complementario-s-line-height: 17px;
$font-block-complementario-s-text-align: left;
$font-block-complementario-s-color: #4d4d4d;
$font-block-complementario-s-text-transform: uppercase;
$font-block-complementario-s-font-style: normal;
//$font-block-complementario-s-font-weight: 400;
$font-block-complementario-s-font-family: avenir-roman;

@mixin font-block-complementario-s () {
  font-size: $font-block-complementario-s-font-size;
  line-height: $font-block-complementario-s-line-height;
  text-align: $font-block-complementario-s-text-align;
  color: $font-block-complementario-s-color;
  text-transform: $font-block-complementario-s-text-transform;
  font-style: $font-block-complementario-s-font-style;
//  font-weight: $font-block-complementario-s-font-weight;
  font-family: $font-block-complementario-s-font-family;
}

/* title section font style */
$font-title-section-font-size: 16px;
$font-title-section-line-height: normal;
$font-title-section-text-align: left;
$font-title-section-color: #333333;
$font-title-section-letter-spacing: 6px;
$font-title-section-text-transform: uppercase;
$font-title-section-font-style: normal;
//$font-title-section-font-weight: 400;
$font-title-section-font-family: avenir-roman;

@mixin font-title-section () {
  font-size: $font-title-section-font-size;
  line-height: $font-title-section-line-height;
  text-align: $font-title-section-text-align;
  color: $font-title-section-color;
  letter-spacing: $font-title-section-letter-spacing;
  text-transform: $font-title-section-text-transform;
  font-style: $font-title-section-font-style;
  //font-weight: $font-title-section-font-weight;
  font-family: $font-title-section-font-family;
}

/* title grid font style */
$font-title-grid-font-size: 16px;
$font-title-grid-line-height: 19px;
$font-title-grid-text-align: left;
$font-title-grid-font-style: normal;
//$font-title-grid-font-weight: 800;
$font-title-grid-font-family: avenir-black;

@mixin font-title-grid () {
  font-size: $font-title-grid-font-size;
  line-height: $font-title-grid-line-height;
  text-align: $font-title-grid-text-align;
  font-style: $font-title-grid-font-style;
//  font-weight: $font-title-grid-font-weight;
  font-family: $font-title-grid-font-family;
}

/* title name vard style */
$font-name-card-font-size: 16px;
$font-name-card-line-height: 19px;
$font-name-card-text-align: left;
$font-name-card-font-style: normal;
//$font-name-card-font-weight: 800;
$font-name-card-font-family: avenir-heavy;

@mixin font-name-card () {
  font-size: $font-name-card-font-size;
  line-height: $font-name-card-line-height;
  text-align: $font-name-card-text-align;
  font-style: $font-name-card-font-style;
  //font-weight: $font-title-grid-font-weight;
  font-family: $font-name-card-font-family;
}

/* title compl font style */
$font-title-compl-font-size: 19px;
$font-title-compl-line-height: 24px;
$font-title-compl-text-align: left;
$font-title-compl-font-style: normal;
//$font-title-compl-font-weight: 800;
$font-title-compl-font-family: avenir-black;

@mixin font-title-compl () {
  font-size: $font-title-compl-font-size;
  line-height: $font-title-compl-line-height;
  text-align: $font-title-compl-text-align;
  font-style: $font-title-compl-font-style;
//  font-weight: $font-title-compl-font-weight;
  font-family: $font-title-compl-font-family;
}

/* title link text font style */
$font-link-text-font-size: 12px;
$font-link-text-line-height: 17px;
$font-link-text-text-align: left;
$font-link-text-font-style: normal;
$font-link-text-font-family: avenir-roman;
$font-link-text-text-transform: uppercase;

@mixin font-link-text () {
  font-size: $font-link-text-font-size;
  line-height: $font-link-text-line-height;
  text-align: $font-link-text-text-align;
  font-style: $font-link-text-font-style;
  font-family: $font-link-text-font-family;
  text-transform: $font-link-text-text-transform;
}

/* title small pretitle font style */
$font-small-pretitle-font-size: 13px;
$font-small-pretitle-line-height: 17px;
$font-small-pretitle-text-align: left;
$font-small-pretitle-font-style: normal;
$font-small-pretitle-font-family: avenir-roman;

@mixin font-small-pretitle () {
  font-size: $font-small-pretitle-font-size;
  line-height: $font-small-pretitle-line-height;
  text-align: $font-small-pretitle-text-align;
  font-style: $font-small-pretitle-font-style;
  font-family: $font-small-pretitle-font-family;
}

/* title program-card font style */
$font-program-card-font-size: 13px;
$font-program-card-line-height: 17px;
$font-program-card-text-align: left;
$font-program-card-font-style: normal;
$font-program-card-font-family: avenir-light;

@mixin font-program-card () {
  font-size: $font-program-card-font-size;
  line-height: $font-program-card-line-height;
  text-align: $font-program-card-text-align;
  font-style: $font-program-card-font-style;
  font-family: $font-program-card-font-family;
}